In [ ]:
#Importing libaries and Collected data
import pandas as pd
data=pd.read_csv("rest_list.csv")
import re

In [ ]:
data.head()
#Check if any restaurants are out of business
data.business_status.value_counts()
#Drop unnecessary columns of the API
data=data.drop(['business_status', 'icon',"id","opening_hours","photos","place_id","plus_code","reference","scope"], axis=1)

In [ ]:
data.head()
#due to way of data collection, duplicates are possible
data=data.drop_duplicates()
#check for Nan
null_cols = data.isnull().sum()
null_cols
#price_level nans will be left in
show=data[(data["rating"].isnull()==True)]
show
#manual research about theese places with ilogical NaN values
#Dropping not existing businesses
data=data.drop([0,5,8,55,66,81,88,100,146,188,190,193,209,221,236,244,261,269,273])

In [ ]:
#editing existing businesses 
#keep 163 (new restaurant)
#edit data accordingly
data.at[68,"rating"]=3.6
data.at[68,"user_ratings_total"]=469
data.at[217,"rating"]=4.2
data.at[217,"user_ratings_total"]=1352

In [ ]:
#Location is found in geometry column of API 
#unnest geometry column
test=data
test1=list(test.geometry)
num=[]
pattern = "\d+\W\d+"
for x in test1:
    num.append(re.findall(pattern,x))

In [ ]:
num2=[]
for x in num:
    num2.append(x[0])
num3=[]
for x in num:
    num3.append(x[1])

In [ ]:
#insert back to df unnested
loc=pd.DataFrame({'col':num2})
loc1=pd.DataFrame({'col2':num3})
data["latitude"]=loc.col
data["longitude"]=loc1.col2
data.columns

In [ ]:
#Saving clean DataFrame to csv,excel
data.to_excel('rest_new.xlsx', index=False)
data.to_csv('rest_new.csv', index=False)
data.head()

In [ ]:
#Saving to SQL
import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:Ironhack@localhost/restaurants')

In [ ]:
data.to_sql('clean', engine)